{% extends "layout.html" %}
{% block content %}
    <div class="content-section " align-items="centre">

        <div class="row justify-content-center mt-4 mb-5 About Us Block" align-items="center">
            <div class="col-lg-6 col-md-9 col-sm-10 col-xs-11" align-items=center>
                <p class="tagline" align=center>Retell your story...<br/>restore your image</p>
                <p class="content" align="center">We can help you fix your images and enhance them to look as good as todays digital images. Now don't discard old and damaged images, you can restore them with our image restoring tool for free. The stories you tell will be more fun with your restored images!  </p>
            </div> 

        </div>



        <hr>

        <div class="mt-4 mb-5 About Us Block">
            <div>
                <p align="center" class="tagline">We deal with</p>
                
                <div class="row justify-content-evenly">
                    <div class="col-3 card text-white cards m-2">
                        <div class="card-text">Sratch Removal</div>
                    </div>
                    <div class="col-3 card text-white cards m-2">
                        <div class="card-text">Global Restoration</div>
                    </div>
                    <div class="col-3 card text-white cards m-2">
                        <div class="card-text">Enhancement</div>
                    </div>
                </div>

            </div> 
        </div>


    </div>
    
{% endblock content %}