{% extends "layout.html" %}
{% block content %}
    <div class="content-section" align-items="centre">
        <div class="tagline">
            <p>Retell your story...<br/>restore your image</p>
        </div> 

        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
              
                    <!-- Upload Image -->
                    <div class="frame">
                        <div class="center">
                            <div class="title">
                                <h1 class="upload-h1">Upload Image</h1>
                            </div>

                            <div class="dropzone">
                                {% if image_file %}
                                    <img src="{{__image_file__}}">
                                {% else %}
                                    <span class="glyphicon glyphicon-cloud-upload"></span>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.picture(class="form-control-file") }}
                            </div>

                        </div>
                    </div>
                
                   
                <div class="form-group restore-image-btn">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </fieldset>
        </form>
    </div>
{% endblock content %}